.section-two{
    padding: 120px 0;
}
.wrapper{
    &__box-img{

    }
    &__img{
        width: 100%;
        height: 100%;
    }
}

.box-text{
   
    &__text-title{
        margin-bottom: 16px;
        font-family: $f-Ubuntu;
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 59px;
        color: #333333;
    }
    &__text-sm{
        font-family: $f-Inter;
        font-weight: 500;
        font-size: 1.125rem;
        color: #666666;
        line-height: 34px;
        margin-bottom: 52px;
    }
}

.wrapper-box{
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    &:last-child{
        margin-bottom: 0;
    }
    &__icons{

    }
    &__ic{
        width: 116px;
        height: 116px;
    }
    &__box-text_title {
        margin-bottom: 10px;

        font-family: $f-Ubuntu;
        font-weight: 700;
        font-size: 1.5rem;
        color: #333333;
    }
    &__box-text_sm{
        font-family: $f-Poppins;
        font-weight: 500;
        line-height: 34px;
        font-size: 1.125rem;
        line-height: 27px;
        color: #666666;
    }
}