.section-five-cont{
    background-image: url('/assets/img/img-5-1.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 1920px ;
}
.sec-5-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
.sec-5-wrap {
    margin: 8rem 0;

}

.sec-5-title{
    font-family: $f-Ubuntu;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 51px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.sec-5-line{
    display: flex;
    align-items: center;
    height: 100%;
    &__line{
        opacity: 0.5;
        background: #D0E1FB;
        height: 2px;
        width: 70%;
    }
}

.card-sec-5{
    &__num{
        font-family: $f-Ubuntu;
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 41px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        opacity: 0.4;

        margin-bottom: 0.8rem;
    }
    &__title{
        font-family: $f-Ubuntu;
        font-weight: 500;
        font-size: 1.5rem;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #FFFFFF;

        margin-bottom: 0.6rem;
    }
    &__text{
        font-family: $f-Poppins;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-transform: capitalize;

color: #D0E1FB;
    }
}

.form-sec-5{
    background: #FFFFFF;
    border-radius: 20px;
    margin: 8rem 0;
    padding: 36px 28px;
}
.sec-5-form-title{
    font-family: $f-Ubuntu;
    font-weight: 500;
    font-size: 1.5rem;
    color: $c-text;
    letter-spacing: 0.02em;

    margin-bottom: 13px;
}

.sec-5-form-text{
    font-family: $f-Poppins;
    font-weight: 400;
    font-size: 1rem;
    color: $c-text2;
    line-height: 24px;
    letter-spacing: 0.02em;

    margin-bottom: 19px;
}

.label-2{
    font-family: $f-Poppins;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #4C4C4C;

}
.form-2{
    display: flex;
    flex-direction: column;
}

.sel-3{
    font-family: $f-Poppins;
    font-weight: 400;
    font-size: 1rem;
    color: #808080;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 20px;
}

.sel-3-3{
    font-family: $f-Poppins;
    font-weight: 400;
    font-size: 1rem;
    color: #808080;
    letter-spacing: 0.02em;
}

.input-text{
    font-family: $f-Poppins;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: #808080;

}