@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
// @import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";

@import "components/_gallery.scss";
@import "components/_review.scss";
@import "components/_program.scss";
@import "components/_burger.scss";
@import "components/_form.scss";
@import "components/_tab.scss";

@import "_bootstrap-grid.scss";

@import "_section-one.scss";
@import "_section-two.scss";
@import "_section-three.scss";
@import "_section-four.scss";
@import "_section-five.scss";
@import "_section-six.scss";
@import "_section-seven.scss";
@import "_section-eight.scss";
@import "_section-nine.scss";

//@import "smart-grid";

html{
	font-size: 16px;
}


.wrapper-title{
	text-align: center;
	&__title{
		margin-bottom: 6px;

		font-family: $f-Ubuntu;
		font-weight: 700;
		font-size: 2.75rem;
		letter-spacing: 0.01em;
		text-transform: capitalize;
		color: $c-text;
	}
	&__text{
		font-family: $f-Inter;
		font-weight: 400;
		font-size: 1.125rem;
		color: #666666;

	}
}
@import 'header';
@import 'footer';

