@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
// @import "utils/fonts";
@import "utils/_reset";
@import "utils/_normalize";
@import "utils/_functions";
@import "components/_gallery.scss";
@import "components/_review.scss";
@import "components/_program.scss";
@import "components/_burger.scss";
@import "components/_form.scss";
@import "_bootstrap-grid.scss";
@import "_section-one.scss";
@import "_section-two.scss";
//@import "smart-grid";

$a-color: #364037;
$b-color: #976c42;
$c-color: #f3dec8;


html{
	font-size: 16px;
}



@import 'header';
@import 'footer';

