
.ant-carousel
	.ant-carousel-hider
		ul.ant-carousel-list
			li.ant-carousel-element
				.card-9
					span.card-9__slick happy buyer
					img.card-9__img(src="../../../assets/img/sec-9/img-9-7.png")
					p.card-9__title Maria Zokatti
					span.card-9__star 
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
					p.card-9__text The WP Estate team did an outstanding job helping me buy my first home. The high level of service and dedication to seeing things done the right way is what I look for in an agent.

			li.ant-carousel-element
				.card-9
					span.card-9__slick happy buyer
					img.card-9__img(src="../../../assets/img/sec-9/img-9-8.png")
					p.card-9__title Maria Zokatti
					span.card-9__star 
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
					p.card-9__text The WP Estate team did an outstanding job helping me buy my first home. The high level of service and dedication to seeing things done the right way is what I look for in an agent.

			li.ant-carousel-element
				.card-9
					span.card-9__slick happy buyer
					img.card-9__img(src="../../../assets/img/sec-9/img-9-9.png")
					p.card-9__title Maria Zokatti
					span.card-9__star 
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
					p.card-9__text The WP Estate team did an outstanding job helping me buy my first home. The high level of service and dedication to seeing things done the right way is what I look for in an agent.

			li.ant-carousel-element
				.card-9
					span.card-9__slick happy buyer
					img.card-9__img(src="../../../assets/img/sec-9/img-9-7.png")
					p.card-9__title Maria Zokatti
					span.card-9__star 
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
						img(src="../../../assets/img/sec-9/star.png", alt="")
					p.card-9__text The WP Estate team did an outstanding job helping me buy my first home. The high level of service and dedication to seeing things done the right way is what I look for in an agent.

	.ant-carousel-arrow-left
		.arrow
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
			</svg>
	.ant-carousel-arrow-right
		.arrow
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
			</svg>
	.ant-carousel-dots
