.nav-right
	nav.nav-menu
		ul.nav-menu__list
			li.nav-menu__list-item
				a.a(href="#ForSale") For Sale
			li 
				a.a(href="#Search") Search
			li 
				a.a(href="#Explore") Explore
			li 
				a.a(href="#Coments") Coments
			li 
				button.nav-menu-btn Registre Now
		.hamburger
			span
			span
			span
		.hamb-night