header.header
	.container
		.header-content
			.header-content__logo
				img.header-logo__img(src="../../../assets/img/logo.svg", alt="")
			nav.header-content__nav-menu 
				ul.nav-menu-li
					li 
						a.a Home
					li 
						a.a About
					li 
						a.a About
					li 
						a.a Portfolio
					li 
						a.a Blog
					li 
						a.a Contact
					li 
						button.nav-menu-btn Registre Now