header.header
	.container
		.header-content
			.header-content__logo
				img.header-logo__img(src="../../../assets/img/logo.svg", alt="")
			nav.header-content__nav-menu 
				ul.nav-menu-li
					li
						a.a(href="#ForSale") For Sale
					li
						a.a(href="#Search") Search
					li
						a.a(href="#Explore") Explore
					li
						a.a(href="#Coments") Coments
					li 
						button.nav-menu-btn Registre Now
		include ../modules/burger
					