.container
    .row 
        .wrapper__box-img.col-5
            img.wrapper__img(src="../../assets/img/image-2.jpg", alt="")
        .box-text.col-7
            p.box-text__text-title Helping People to Find The Right Property
            p.box-text__text-sm Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage, combined with specialist follower Over 39,000 people work for us in more.
            .row.wrapper-box
                .wrapper-box__icons.col-3
                    img.wrapper-box__ic(src="../../assets/img/ic-1.png", alt="")
                .wrapper-box__box-text.col-9
                    p.wrapper-box__box-text_title The Perfect Residency
                    p.wrapper-box__box-text_sm Lorem ipsum dolorsit amet consectetur eiusmod tempor incididunt.
            .row.wrapper-box
                .wrapper-box__icons.col-3
                    img.wrapper-box__ic(src="../../assets/img/ic-2.png", alt="")
                .wrapper-box__box-text.col-9
                    p.wrapper-box__box-text_title Trusted By Thousands
                    p.wrapper-box__box-text_sm Lorem ipsum dolorsit amet consectetur eiusmod tempor incididunt.
            .row.wrapper-box
                .wrapper-box__icons.col-3
                    img.wrapper-box__ic(src="../../assets/img/ic-1.png", alt="")
                .wrapper-box__box-text.col-9
                    p.wrapper-box__box-text_title Total Payment Transparency
                    p.wrapper-box__box-text_sm Lorem ipsum dolorsit amet consectetur eiusmod tempor incididunt.