.container 
	.row 
		.col-4
			.wrapper-slider
				h1.slide-title Residential
				p.slide-text Lorem ipsum dolor sit amet, consectetur adipiscing diam, ac mattis orci pellentesque eget. 
				.container-1
					.slider
						
						.box1.box
							.details
							
								
								img.details(src="../../../assets/img/img-6-1.jpg" alt="")
						.box2.box
							.details
								h1.slide-title Residential
								p.slide-text Lorem ipsum dolor sit amet, consectetur adipiscing diam, ac mattis orci pellentesque eget. 
								img.details(src="../../../assets/img/img-6-2.png" alt="")

					<svg xmlns="http://www.w3.org/2000/svg" class="prev" width="30" height="30" fill="#fff" class="bi bi-chevron-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
					</svg>

					<svg xmlns="http://www.w3.org/2000/svg" class="next" width="26" height="26" fill="#fff" class="bi bi-chevron-right" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
					</svg>

					.trail
						.box1.active
						.box2
