.section-five-cont 
	.container 
		.row 
			.col-7 
				.sec-5-wrapper
					.sec-5-wrap 
						.row
							.col-6 
								p.sec-5-title Three steps to at works
						.row 
							.col-6 
								.sec-5-line
									.sec-5-line__line
							.col-6 
								.card-sec-5
									p.card-sec-5__num 01
									p.card-sec-5__title Negotiate your rent & apply online
									p.card-sec-5__text Never miss a sale! It's never been easier to turn leads into real customers
						.row 
							.col-6 
								.card-sec-5
									p.card-sec-5__num 02
									p.card-sec-5__title Virtual tour is the new normal
									p.card-sec-5__text Keep track of your leads without having to pay for an external CRM
							.col-6 
								.sec-5-line
									.sec-5-line__line
						.row 
							.col-6 
								.sec-5-line
									.sec-5-line__line
							.col-6 
								.card-sec-5
									p.card-sec-5__num 03
									p.card-sec-5__title eSign papers from home
									p.card-sec-5__text Customize your website according to your expectations and requirements
			.col-5 
				.row
					.form-sec-5
							.col-12 
								p.sec-5-form-title Real Estate Inquiry Form
								p.sec-5-form-text With over 1 million+ homes for sale available on the website Trulia can.
							.col-12
								form.form-2(action='#' autocomplete='off' method='get')
									label.label-2(for='pet-select-01') Inquiry Type
									select.sel-3#et-select(name="pets")
										option(value="1") Select
										option(value="2") Select
										option(value="3") Select
										option(value="4") Select
										option(value="5") Select
							.col-12
								form.form-2(action='#' autocomplete='off' method='get')
									label.label-2(for='pet-select-01') Information
									select.sel-3-3#et-select(name="pets")
										option(value="1") I’m a
										option(value="2") I’m a
										option(value="3") I’m a
										option(value="4") I’m a
										option(value="5") I’m a
							.col-12
								.row 
									.col-6
										
										input.input-text(type='text' placeholder=" First name")
									.col-6
										input.input-text(type='text' placeholder=" Last name")
									.col-12

										input.input-text(type='text' placeholder=" Email Address")
							.col-12
								form.form-2(action='#' autocomplete='off' method='get')
									select.sel-3#et-select(name="pets")
										option(value="1") Searching Address
										option(value="2") Searching Address
										option(value="3") Searching Address
										option(value="4") Searching Address
										option(value="5") Searching Address
							
							.row 
								.col-12
									form.form-2(action='#' autocomplete='off' method='get')
										label.label-2(for='pet-select-01') Property
										select.sel-3#et-select(name="pets")
											option(value="1") Select type
											option(value="2") Select type
											option(value="3") Select type
											option(value="4") Select type
											option(value="5") Select type
								.col-6
									form.form-2(action='#' autocomplete='off' method='get')
										select.sel-3#et-select(name="pets")
											option(value="1") max price
											option(value="2") max price
											option(value="3") max price
											option(value="4") max price
											option(value="5") max price
								.col-6
									form.form-2(action='#' autocomplete='off' method='get')
										select.sel-3#et-select(name="pets")
											option(value="1") min. size(Sq ft’)
											option(value="2") min. size(Sq ft’)
											option(value="3") min. size(Sq ft’)
											option(value="4") min. size(Sq ft’)
											option(value="5") min. size(Sq ft’)
								.col-6
									form.form-2(action='#' autocomplete='off' method='get')
										select.sel-3#et-select(name="pets")
											option(value="1") number of beds
											option(value="2") number of beds
											option(value="3") number of beds
											option(value="4") number of beds
											option(value="5") number of beds
								.col-6
									form.form-2(action='#' autocomplete='off' method='get')
										select.sel-3#et-select(name="pets")
											option(value="1") number of baths
											option(value="2") number of baths
											option(value="3") number of baths
											option(value="4") number of baths
											option(value="5") number of baths
							.col-12
								button.btn-tab Search Result