.container 
	.wrapper-title.wrapper-title-3#Explore
		.wrapper-title__title Explore Cities
		.wrapper-title__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
	.row 
		.col-sm-6.col-lg-3
			.card-8
				img(src="../../../assets/img/img-8-1.png", alt="")
				.stick-8
					p.stick-8__title Canada
					p.stick-8__text 583 Properties
		.col-sm-6.col-lg-3
			.card-8
				img(src="../../../assets/img/img-8-2.png", alt="")
				.stick-8
					p.stick-8__title Dubai
					p.stick-8__text 107 Properties
		.col-sm-6.col-lg-3
			.card-8
				img(src="../../../assets/img/img-8-3.jpg", alt="")
				.stick-8
					p.stick-8__title USA
					p.stick-8__text 5903 Properties
		.col-sm-6.col-lg-3
			.card-8
				img(src="../../../assets/img/img-8-1.png", alt="")
				.stick-8
					p.stick-8__title Singapore
					p.stick-8__text 369 Properties