.container 
	.row 
		.col-md-4
			.slider-6
				.sim-slider#slidd
					ul.sim-slider-list
						li.sim-slider-element
							img(src="../../../assets/img/img-6-1.png" alt="0")
						li.sim-slider-element
							img(src="../../../assets/img/img-6-3.png" alt="1")

					.sim-slider-arrow-left
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
						</svg>

					.sim-slider-arrow-right
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
						</svg>
					.stick.st-left
						p.stick__sm 2907 Propertys
						p.stick__lg Apparitment

					
		.col-md-4 
				.referense-6.referense-6-left
					span.referense-6__span-left
					p.referense-6__lg Residential
					p.referense-6__sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					

				.referense-6.referense-6-right
					p.referense-6__lg Commercial
					p.referense-6__sm Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					span.referense-6__span-right
		.col-md-4
			.slider-6.slider-6_none
				.sim-sliders
					ul.sim-slider-lists
						li.sim-slider-elements
							img(src="../../../assets/img/img-6-3.png" alt="0")
						li.sim-slider-elements
							img(src="../../../assets/img/img-6-1.png" alt="1")

					.sim-slider-arrow-lefts
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
						</svg>

					.sim-slider-arrow-rights
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
						</svg>
					.stick.st-right
						p.stick__sm 163 Propertys
						p.stick__lg Office





