.container
	.wrapper-title.wrapper-title-3 
		.wrapper-title__title CUSTOMER TESTIMONIALS
		.wrapper-title__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores


	.row 
		.col-12 
			.box-9 
				.col-8
					.box-9-12
						p.box-9__title Three steps to at works
						p.box-9__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
				.col-4
					.box-9-11
						.box-9-1 
							p.box-9-1__text Already 80310 people are registered
							button Registre Now

	.row 
		.col-12.box-9-img
			img(src=".../../../../../assets/img/sec-9/img-9-1.png", alt="")
			img(src=".../../../../../assets/img/sec-9/img-9-2.png", alt="")
			img(src=".../../../../../assets/img/sec-9/img-9-3.png", alt="")
			img(src=".../../../../../assets/img/sec-9/img-9-4.png", alt="")
			img(src=".../../../../../assets/img/sec-9/img-9-5.png", alt="")
			img(src=".../../../../../assets/img/sec-9/img-9-6.png", alt="")