.container 
	.wrapper-title.wrapper-title-3 
		.wrapper-title__title Why Choose Us
		.wrapper-title__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolore
	.row
		.col-3
			.card-sec-7
				img(src="../../../assets/img/img-7-4.png", alt="")

				p.card-sec-7__num 73008+
				p.card-sec-7__text Completed Property

		.col-3
			.card-sec-7
				img(src="../../../assets/img/img-7-1.png", alt="")
				
				p.card-sec-7__num 40029
				p.card-sec-7__text Property Sales

		.col-3
			.card-sec-7
				img(src="../../../assets/img/img-7-2.png", alt="")


				p.card-sec-7__num 30500
				p.card-sec-7__text Apartment Rent

		.col-3
			.card-sec-7
				img(src="../../../assets/img/img-7-3.png", alt="")
				p.card-sec-7__num 50085
				p.card-sec-7__text Happy Clients
