.section-one-cont
	.section-one-cont__background
		.container 
			.row 
				.col-xl-7 
					.section-one__box
						p.section-one__box-title Find Your <br> Perfect Place.
						p.section-one__box-text We are recognized for exceeding client expectations and delivering great results through dedication and ease of process.
			.row 
				.col-xl-10

