.warpper
	input.radio#one(name="group" type="radio" checked)
	input.radio#two(name="group" type="radio")
	input.radio#three(name="group" type="radio")
	.tabs
		label.tab#one-tab(for="one") BUY
		label.tab#two-tab(for="two") RENT
		label.tab#three-tab(for="three") SELL
	.panels
		.panel#one-panel
			.row 
				.col-lg-3
					form.form-1(action='#' autocomplete='off' method='get')
						label.label-1(for='pet-select-01') Property type
							select.sel-1#et-select(name="pets")
								option(value="1") Family Home
								option(value="2") 2 Home
								option(value="3") 3 Home
								option(value="4") 4 Home
								option(value="5") 5 Home
				.col-lg-2
					form.form-1(action='#' autocomplete='off' method='get')
						label.label-1(for='pet-select-01') Renge House
							select.sel-2#et-select(name="pets")
								option(value="1") 26x10m2
								option(value="2") 36x10m2
								option(value="3") 46x10m2
								option(value="4") 56x10m2
								option(value="5") 66x10m2
				.col-lg-7
					.row 
						.col-8
							label.label-1(for='pet-select-01') Renge House
							input.input-text(type='text')
						.col-4.btn-1-wrap
							button.btn-tab Search
		.panel#two-panel
			.row 
				.col-lg-3
					form.form-1(action='#' autocomplete='off' method='get')
						label.label-1(for='pet-select-01') Property type
							select.sel-1#et-select(name="pets")
								option(value="1") Family Home
								option(value="2") 2 Home
								option(value="3") 3 Home
								option(value="4") 4 Home
								option(value="5") 5 Home
				.col-lg-2
					form.form-1(action='#' autocomplete='off' method='get')
						label.label-1(for='pet-select-01') Renge House
							select.sel-2#et-select(name="pets")
								option(value="1") 26x10m2
								option(value="2") 36x10m2
								option(value="3") 46x10m2
								option(value="4") 56x10m2
								option(value="5") 66x10m2
				.col-lg-7
					.row 
						.col-8
							label.label-1(for='pet-select-01') Renge House
							input.input-text(type='text')
						.col-4.btn-1-wrap
							button.btn-tab Search
		.panel#three-panel
			.row 
				.col-lg-3
					form.form-1(action='#' autocomplete='off' method='get')
						label.label-1(for='pet-select-01') Property type
							select.sel-1#et-select(name="pets")
								option(value="1") Family Home
								option(value="2") 2 Home
								option(value="3") 3 Home
								option(value="4") 4 Home
								option(value="5") 5 Home
				.col-lg-2
					form.form-1(action='#' autocomplete='off' method='get')
						label.label-1(for='pet-select-01') Renge House
							select.sel-2#et-select(name="pets")
								option(value="1") 26x10m2
								option(value="2") 36x10m2
								option(value="3") 46x10m2
								option(value="4") 56x10m2
								option(value="5") 66x10m2
				.col-lg-7
					.row 
						.col-8
							label.label-1(for='pet-select-01') Renge House
							input.input-text(type='text')
						.col-4.btn-1-wrap
							button.btn-tab Search
