extends ../layout/base

block content

	section.section-one
		include ../includes/modules/section-one

	section.section-two
		include ../includes/modules/section-two	

	section.section-three
		include ../includes/modules/section-three

	section.section-four
		include ../includes/modules/section-four

	section.section-five
		include ../includes/modules/section-five

	section.section-six
		include ../includes/modules/section-six

	section.section-seven
		include ../includes/modules/section-seven	

	section.section-eight
		include ../includes/modules/section-eight

	section.section-nine
		include ../includes/modules/section-nine
	
	//- section.program#program
	//- 	.container
	//- 		include ../includes/modules/program

	//- section.review#review
	//- 	.container
	//- 		+section-title('Отзывы участников')
	//- 		include ../includes/modules/review

	//- section.gallery#gallery
	//- 	.container
	//- 		+section-title('Галерея')
	//- 		include ../includes/modules/gallery

	//- section.form#form
	//- 	.container
	//- 		+section-title("Заявка на участие")
			





