extends ../layout/base

block content

	section.section-one
		include ../includes/modules/section-one

	section
		include ../includes/modules/section-two	
	//- section.program#program
	//- 	.container
	//- 		include ../includes/modules/program

	//- section.review#review
	//- 	.container
	//- 		+section-title('Отзывы участников')
	//- 		include ../includes/modules/review

	//- section.gallery#gallery
	//- 	.container
	//- 		+section-title('Галерея')
	//- 		include ../includes/modules/gallery

	//- section.form#form
	//- 	.container
	//- 		+section-title("Заявка на участие")
			





